{% extends 'base.html' %}
{% block content %}
  <h3 class="text-center m-2">REVIEWS</h3>
  <hr>
  <hr>
  <div class="row m-2">
    {% for i in question_list %}
      <div class="col-4 mb-2">
        <div class="card" style="width: 18rem border-radius 1rem; box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.493);">
          {% if i.thumbnail %}
            <img src="{{ i.thumbnail.url }}" class="card-img-top" alt="" width="400" height="300">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <a href="{% url 'reviews:detail' i.pk %}" class="btn btn-outline-warning my-3">자세히 보기</a>
          {% endfor %}
          <!-- 페이징처리 시작 -->
          <div class="m-3">
            <ul class="pagination justify-content-center">
              <!-- 이전페이지 -->
              {% if question_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="text-warning page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
              {% endif %}
              <!-- 페이지리스트 -->
              {% for page_number in question_list.paginator.page_range %}
                {% if page_number == question_list.number %}
                  <li class="page-item" aria-current="page">
                    <a class="text-warning page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="text-warning page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              <!-- 다음페이지 -->
              {% if question_list.has_next %}
                <li class="page-item">
                  <a class="text-warning page-link" href="?page={{ question_list.next_page_number }}">다음</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="text-warning page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
              {% endif %}
            </ul>
          </div>
          <!-- 페이징처리 끝 -->
        {% endblock %}
